input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.order-page {
  padding-bottom: 45px;
}
.order-page .order-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-page .order-title .order-title-detail {
  display: flex;
  align-items: center;
}

.order-page .order-title .order-title-detail img {
  margin-right: 10px;
}
.order-page .order-calender .date {
  padding: 5px 20px;
  border-radius: 6px;
  margin: 5px;
  width: calc(100% - 40px);
  font-size: 15px;
}
.order-page .order-sum {
  padding-bottom: 10px;
  border-bottom: solid 2px gainsboro;
}
.order-page .order-item {
  margin: 15px;
  padding: 15px;
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  border: solid 0.5px;
  box-shadow: rgb(0 0 0 / 30%) 0px 2px 2px;
}
.order-page .order-item .space-hr {
  position: "absolute";
  width: 50px;
  height: 0px;
  transform: rotate(90deg);
}

.order-page .order-item .phonenumber-customer {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border-color: transparent;
}

.order-page .order-item .orderID {
  color: #d20000;
}
.order-page .order-item .confirmnative {
  color: #ffd43b;
  font-size: 11px;
}
.order-page .order-item .order-customer,
.order-page .order-item .price {
  padding: 7px 0;
  font-weight: 500;
}

.order-page .create-order {
  padding-bottom: "250px";
}
